<div class="panel clearfix">

  <!-- x icon to remove -->
  <%= f.link_to_remove("x") %>
  <!-- fields -->
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :role, collection: [['Administrator', :admin],['Instructor', :instructor]], prompt: "Select Role" %>
    <%= f.input :active %>


</div>