<h1 class = "text-center">Welcome to A&M Chess Camp, <%= current_user.username %>!</h1>

<div class="row">

  <div class="small-3 columns">
    <div class = "panel radius">
		<%= image_tag "blank_user_icon.png" %> 
		<p> Username: <%= current_user.username %> </p>
		<p> Role: <%= current_user.role.capitalize %> </p>
    </div>

    <div class = "panel radius">
    	<h3 class="text-center">Quick Links: </h3>
      <ul>
        <li><%= link_to "Register a Student", new_registration %> </li>
      	<li><%= link_to "Add New Camp", new_camp_url %> </li>
        <li><%= link_to "Add New Curriculum", new_curriculum_url %></li>
        <li><%= link_to "Add New Instructor", new_instructor_url %></li>
        <li><%= link_to "Add New Location", new_camp_url %></li>
        <li><%= link_to "Add New Student", new_student_url %></li>
      </ul>
    </div>
  </div>

  <div class="small-1 columns">
  	&nbsp;
  </div>

  <div class="small-8 columns">
    <div class = "panel radius">
    	<%= render :partial => "camps", locals: { status: "Upcoming", camps: @upcoming_camps } %>
    </div>

    <div class= "small-7 columns">
      <div class = "panel radius">
        <%= render :partial => "locations", locals: { status: "Active", locations: @active_locations } %>
      </div>
    </div>

    <div class = "small-5 columns">
      <div class = "panel radius">
      <%= render :partial => "active_curriculums" %>
      </div>
    </div>

  <!-- Ends large 8 column wrapper -->
  </div> 

</div>


