<h1 class = "text-center">Welcome to A&M Chess Camp, <%= current_user.username %>!</h1>

<div class="row">

  <div class="small-3 columns">
    <div class = "panel radius">
		<%= image_tag "blank_user_icon.png" %> 
		<p> Name: <%= current_user.instructor.proper_name %> </br>
		Username: <%= current_user.username %></br>
		Role: <%= current_user.role.capitalize %> </p>
    </div>

    <div class = "panel radius">
    	<h3 class="text-center">Quick Links: </h3>
      <ul>
      	<li><%= link_to "View Camps", camps_url %> </li>
        <li><%= link_to "View Curriculums", curriculums_url %></li>
        <li><%= link_to "View Instructors", instructors_url %></li>
        <li><%= link_to "View Locations", camps_url %></li>
        <li><%= link_to "View Students", students_url %></li>
      </ul>
    </div>
  </div>

  <div class="small-1 columns">
  	&nbsp;
  </div>

  <div class="small-8 columns">
    <div class = "panel radius">
    	<%= render :partial => "camps", locals: { status: "Upcoming", camps: @instructor_camps } %>
    </div>

    <div class= "small-7 columns">
      <div class = "panel radius">
        <%= render :partial => "locations", locals: { status: "Active", locations: @active_locations } %>
      </div>
    </div>

    <div class = "small-5 columns">
      <div class = "panel radius">
      <%= render :partial => "students" %>
      </div>
    </div>

  <!-- Ends large 8 column wrapper -->
  </div> 

</div>


